<header>
  
    <!-- *** TOP ***
    _________________________________________________________ -->
    <div id="top">
      <div class="container">
        <div class="row">
          <div class="col-xs-5 contact">
            <p class="hidden-md hidden-lg">
              <a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>
              <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
            </p>
          </div>
          <div class="col-xs-7">
            <div class="social">
              <a href="http://www.facebook.com" class="externa  l facebook" data-animate-hover="pulse" title="Siguenos en Facebook"><i class="fa fa-facebook"></i></a>
              <a href="http://www.gmail.com" class="external gplus" data-animate-hover="pulse" title="Siguenos en Google+"><i class="fa fa-google-plus"></i></a>
              <a href="http://www.twitter.com" class="external twitter" data-animate-hover="pulse" title="Siguenos en Twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://login.unal.edu.co" class="email" data-animate-hover="pulse" title="Envianos un email"><i class="fa fa-envelope"></i></a>
            </div>
  
          </div>
        </div>
      </div>
    </div>
    <!-- *** TOP END *** -->
  
    <!-- *** NAVBAR ***
    _________________________________________________________ -->
    <div class="navbar-affixed-top" data-spy="affix" data-offset-top="300">
      <div class="navbar navbar-default" role="navigation" id="navbar">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand home" href="javascript: void(0);" routerLink="/">
              <img src="assets/img/logoEnd.png" alt="Universal logo" class="hidden-xs hidden-sm">
            </a>
          </div>
          <!--/.navbar-header -->
  
        </div>
      </div>
      <!-- /#navbar -->
    </div>
    <!-- *** NAVBAR END *** -->
  </header>
  