<footer id="footer">
  <div class="container">
    <div class="col-sm-6 col-md-4">
      <h4>Acerca de Nosotros</h4>
      <p>
        Somos un Startup nacido de la materia Modelos Estocásticos en la Universidad Nacional de Colombia. Brindamos soluciones tecnológicas al alcance de las personas y las empresas.
      </p>
      <hr>
      <h4>Suscribase a nuestro boletín mensual</h4>



    <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Ingrese su e-mail">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>
          </span>
        </div>
        <!-- /input-group -->
    </form>


      <hr class="hidden-md hidden-lg hidden-sm">
    </div>
    <!-- /.col-md-3 -->

    <div class="col-sm-6 col-sm-offset-0 col-md-4 col-md-offset-4">
      <h4>Contacto</h4>
      <p>
        <strong>Modelos Estocásticos 2017-2</strong>
        <br>Universidad Nacional de Colombia
        <br>Sede Bogotá
        <br>Carrera 45 # 26-85
        <br>Bogotá D.C.
        <br>
        <strong>Colombia</strong>
      </p>

      <a href="javascript: void(0);" routerLink="contact/" class="btn btn-small btn-template-main">Contáctese con Nosotros</a>
      <hr class="hidden-md hidden-lg hidden-sm">
    </div>
    <!-- /.col-md-3 -->
  </div>
  <!-- /.container -->
</footer>
<!-- /#footer -->

<!-- *** FOOTER END *** -->

<!-- *** COPYRIGHT ***
_________________________________________________________ -->

<div id="copyright">
  <div class="container">
    <div class="col-md-12">
      <p class="pull-left">&copy; 2017. Modelos Estocásticos</p>
    </div>
  </div>
</div>
