<!-- Seleccion de sucursal -->  
<mat-card class="cardSection">
    <mat-form-field >
        <mat-select 
          placeholder="Seleccione Sucursal"
          (selectionChange)="setSucursal($event)">
          
          <mat-option *ngFor="let sucursal of sucursales$ | async " [value]="sucursal">
            {{sucursal.data.nombre}}
          </mat-option>
        </mat-select>
    </mat-form-field>
  </mat-card>
  
<mat-card class="cardSection">
  <h1 *ngIf ="sucursalSeleccionada">Sucursal {{sucursalSeleccionada.data.nombre}}</h1>
  <mat-grid-list cols="6" rowHeight="2:1">
    <mat-grid-tile 
      *ngFor="let cajero of cajeros$ | async"
      [style.background]="cajero.data.color">
          <mat-icon>contacts</mat-icon>
      <h3>{{cajero.data.nombre}}</h3>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

<mat-grid-list cols="2">

  <mat-grid-tile>
    <mat-card class="cardSection">
      <mat-grid-list *ngIf="colaSeleccionada" cols="1" rowHeight="50px">
        <mat-grid-tile  *ngFor="let usuario of colaSeleccionada$">
        <h3>{{ (usuario) }}</h3>

        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <button mat-raised-button type="button" (click)="encolarComun()">Llega cliente</button>
    </mat-card>

    <mat-card>
        <button mat-raised-button type="button" (click)="encolarReserva()">Llega reserva</button>
        <input type="text" [ngModel]="numReserva" (ngModelChange)="valueChange($event)">
    </mat-card>

    <mat-card>
        <button mat-raised-button type="button" (click)="clienteAtendido()">Siguiente en fila</button>
    </mat-card>      

  </mat-grid-tile>

</mat-grid-list>
