<app-header></app-header>
<mat-tab-group class="demo-tab-group">

    <mat-tab label="Gestion Turnos (Cliente)">
        <home></home>
    </mat-tab>

    <mat-tab label="Simulador Banco">
        <simulador></simulador>
    </mat-tab>

</mat-tab-group> 
<app-footer></app-footer>