.cardSection{
    margin: 10px;
    justify-content: space-between;
    align-items: center;
    background: gray;
  }

.mat-card-title {
font-size: 16px;
font-weight: 800;
font-family: 'Muli';
color: gray;
}  