@import url('https://fonts.googleapis.com/css?family=Muli:400,700');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
    background:#fbfbfb;
    font-family: 'Muli';
    padding: 2em;
}
.mat-grid-tile .mat-figure {
    display: block !important;
    text-align: center !important;
  }
  