.cardSection{

    justify-content: space-between;
    align-items: center;
    background: #efefef;
    margin: 10px;

    

  }

  
mat-grid-tile {
    background: #c6c5c205;
  }


.info{
    color:#868686;
    font-weight: 600;
    
}  
.btn{
    padding:  1em !important;
    margin: 1em !important;
}