<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <h1 class="page-header">Gestión turnos virtuales</h1>
  <p class="text-justify">
    Ahora podras programar tu turno en nuestro banco: en una de nuestra disponibilidad horaria, o en esta hora actual. Escoge primero la sucursal a la que deseas dirigirte.</p>
  <div class="clearfix"></div>
  <br>

  <div class="col">
    <div class="col-xs-12 col-sm-3">
      <ul class="nav nav-pills nav-stacked ul-with-border">
        <mat-form-field >
            <mat-select
              placeholder="Seleccione Sucursal"
              (selectionChange)="setSucursal($event)">

              <mat-option *ngFor="let sucursal of sucursales$ | async " [value]="sucursal">
                {{sucursal.data.nombre}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<br>
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <p class="text-justify">
    Ahora escoge entre dos opciones que desees: si desear ir ahora...</p>
  <div class="clearfix"></div>
  <br>
  <div class="col">
    <div class="col-xs-12 col-sm-3">
      <ul class="nav nav-pills nav-stacked ul-with-border">
        <div class="col-xs-12">
          <button mat-raised-button matStepperNext color="#38a7bb" class="pull-right" (click)="irAhora()">Ir Ahora</button>
        </div>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-3">
      <ul class="nav nav-pills nav-stacked ul-with-border">
        <div *ngIf="turnoIrAhora">
          <button mat-raised-button matStepperNext color="primary" class="pull-right" (click)="encolar()"> Tomar Turno </button>
          <h3>{{mensajeIrAhora}}</h3>
          <h3>{{mensajeTurnoComunAhora}}</h3>
        </div>
      </ul>
    </div>
  </div>
</div>
<div class="clearfix"></div>
<br><br>
<div class="col-xs-12 col-sm-10 col-sm-offset-1">
  <p class="text-justify">
    O seleccionar una franja horaria...</p>
  <div class="clearfix"></div>
  <div class="col">
    <div class="col-xs-12 col-sm-3">
      <ul class="nav nav-pills nav-stacked ul-with-border">
        <form>
          <mat-form-field class="mat-form-fieldCustom">
              <mat-select
                placeholder="Seleccione franja"
                (selectionChange)="mostrarInfo($event)">

                <mat-option *ngFor="let franja of franjas$ | async " [value]="franja">
                  {{franja.data.inicio}}Hrs - {{franja.data.fin}}Hrs
                </mat-option>
              </mat-select>
          </mat-form-field>
        </form>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-7">
      <ul class="nav nav-pills nav-stacked ul-with-border">
        <div *ngIf ="franjaSeleccionada" >
          <h3> {{mensajeAsignacion}} </h3>
          <h3>Información:</h3>
          <br>
          <ul>
            <li><div class="info"><p align="justify"> En tiempo total de permanecia en el banco será aproximadamente de {{tiempoEnBanco}} minutos.</p></div></li>
            <li><div class="info"><p align="justify"> Generalmente las personas esperan a ser atendidas {{tiempoEspera}} segundos.</p></div></li>
            <li><div class="info"><p align="justify"> Usualmente hay {{PersonasEnFila}} personas esperando ser atendidos.</p></div></li>
            <li><div class="info"><p align="justify"> La probabilidad de que sea atendido inmediatamente es {{probAtencionInmediata}} %.</p></div></li>
          </ul>
          <br>
          <button mat-raised-button matStepperNext color="primary" class="pull-right" (click)="reservarTurno()">Reservar Turno</button>
        </div>
      </ul>
  </div>
</div>
<div class="clearfix"></div>
<br><br>
